<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>50000</particles>
  <batches>4</batches>
  <inactive>1</inactive>
  <generations_per_batch>2</generations_per_batch>
  <source strength="1.0">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>545 570 620 670 695 1 1 1 1 1</parameters>
      </r>
      <phi parameters="0.0 6.28318530718" type="uniform" />
      <z type="discrete">
        <parameters>-25 -15 -5 5 15 25 1 1 1 1 1 1</parameters>
      </z>
    </space>
    <angle type="isotropic" />
    <energy type="discrete">
      <parameters>14080000.0 1.0</parameters>
    </energy>
  </source>
</settings>
