<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>500000</particles>
  <batches>200</batches>
  <inactive>5</inactive>
  <keff_trigger>
    <threshold>1e-05</threshold>
    <type>std_dev</type>
  </keff_trigger>
  <source strength="1.0">
    <space origin="0.0 0.0 0.0" type="cylindrical">
      <r type="discrete">
        <parameters>545 570 620 670 695 1 1 1 1 1</parameters>
      </r>
      <phi parameters="0.0 6.28318530718" type="uniform" />
      <z type="discrete">
        <parameters>-25 -15 -5 5 15 25 1 1 1 1 1 1</parameters>
      </z>
    </space>
    <angle type="isotropic" />
    <energy type="discrete">
      <parameters>14080000.0 1.0</parameters>
    </energy>
  </source>
</settings>
